@import url('https://fonts.googleapis.com/css2?family=Lato');
::-webkit-scrollbar {
    width: 0.7vw;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }  
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.header {
    display: flex;
    padding: 1vw 2vw 1vw 2.2vw;
    width: 95vw;
    background-color: #162466;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.logo img {
 width: 12vw;   
}
.nav-links ul {
    display: flex;
    list-style-type: none;
}
.nav-links ul a {
    text-decoration: none;
    color: #fff;
    margin: 0.3vw 0.8vw;
    padding: 0.3vw 0.8vw;
    transition: 0.2s ease;
    text-transform: uppercase;
    font-size: 0.85vw;
    font-weight: 600;
}
.nav-links ul a:hover {
    color: #ff3b33;
}
.btn {
    background-color: #ff3b33;
    padding: 0.9vw 2.8vw;
    border-radius: 2vw;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.85vw;
    font-weight: 800;
    word-spacing: 0.2vw;
    transition: 0.6s ease;
}

.btn:hover {
    box-shadow: 0 0 20px 0 #ff3b33;
}

.hero {
    display: flex;
    height: 41.5vw;
    width: 99.2vw;
    place-items: center;
    margin: 0 auto;
    background-color: #f3f5f7;
}

.left-section {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5vw 0 15vw;
    color: #162466;
}

.left-section h2 {
    font-size: 2vw;
    width: 20vw;
    margin: 1vw 0;
    line-height: 1.5;
}

.left-section p {
    margin: 1vw 0;
    font-size: 1vw;
}

.left-section input {
    margin: 1vw 0;
    width: 100%;
    padding: 1vw;
    border: none;
    outline: none;
    border-radius: 0.4vw;
    color: #4b5259;
    font-size: 1.1vw;

}

.left-section input::placeholder {
    color: #cdcdcd;
    font-size: 0.9vw;
}

.left-section a {
    margin: 2vw 0 1vw 0;
    padding: 1vw 2.5vw;
}

.right-section {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-section img {
    width: 70%;
}

.remarkable-content {
    width: 69.2vw;
    padding: 5vw 15vw 5vw 15vw;
    color: #162466;
}

.remarkable-content>h2 {
    text-align: center;
    margin-bottom: 3vw;
    font-size: 2vw;
}

.remarkable-content p {
    font-size: 1.16vw;
}

.remarkable-content .img-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
}

.remarkable-content .img-desc img {
    width: 200%;
}

.footer {
    width: 69.2vw;
    background-color: #162466;
    display: flex;
    padding: 3vw 15vw 3vw 15vw;
    color: #fff;
}

.logo-container {
    flex: 0.3;
    margin-right: 5vw;
}
.logo-container img {
    width: 70%;
}
.logo-container p {
    font-size: 1vw;
}

.services-container {
    flex: 0.3;
}
.services-container h3 {
    font-size: 1.6vw;
    margin-bottom: 0.5vw;
}
.services-container ul a {
    text-decoration: none;
    color: #fff;
}
.services-container ul a li {
    margin: 0.8vw 0;
    font-size: 1vw;
    transition: 0.5s ease;
}
.services-container ul a:hover {
    color: #ff3b33;
}
.company-container {
    flex: 0.2;
}
.company-container ul a {
    text-decoration: none;
    color: #fff;
}
.company-container h3 {
    font-size: 1.6vw;
    margin-bottom: 0.5vw;
}
.company-container ul a li {
    margin: 0.8vw 0;
    font-size: 1vw;
    transition: 0.5s ease;
}
.company-container ul a:hover {
    color: #ff3b33;
}
.contact-container {
    flex: 0.2;
}
.contact-container h3 {
    font-size: 1.6vw;
    margin-bottom: 0.5vw;
}
.contact-container ul li {
    margin: 0.8vw 0;
    font-size: 1vw;
}
.copyright-container {
    width: 70vw;
    padding: 2vw 15vw;
    text-align: center;
    color: #162466;
    font-size: 1.1vw;
    word-spacing: 0.1vw;
    display: flex;
    justify-content: space-between;
}

.fa-brands {
    margin: 0 0.5vw;
    color: #162466;
}